* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgba(0, 0, 255, 0.786);
}

.header-one {
    border: 2px solid rgba(0, 0, 255, 0.786);
    border-radius: 5px;
    padding: 30px;
    margin: 25px 50px;
    outline: 10px dotted green;
}

.circle {
    border: 2px solid rgba(0, 0, 255, 0.786);
    border-radius: 100px;
    padding: 100px;
    width: 100px;
    height: 100px;
}

div > p {
    text-transform: uppercase;
    font-weight: 600;
    text-decoration-line:line-through underline overline;
    line-height: 5px;
    text-shadow: 2px 5px 8px rgb(0, 64, 255);
    letter-spacing: 10px;
}