* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVZhsA0KxL1v7mI588jip6tL77UieaCY0fgw&usqp=CAU");
 background-repeat: no-repeat;
 background-size: cover;

}

