* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

h1 {
    text-align: center;
    padding: 20px 0;
}

[class*="box-"] {
    float: left;
}

@media only screen and (min-width: 600px) {
    .box-1 {
        width: 8.33%;
    }
    .box-2 {
        width: 16.66%;
    }
    .box-3 {
        width: 24.9%;
    }

    .box-4 {
        width: 33.32%;
    }
}

